{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<div class="container">
    <!-- BUY -->
    <h2>Crypto BUY panel</h2>
    <table>
        <tr>
            <th>Crypto ticker</th>
            <th>Crypto price CURRENT</th>
            <th>Action</th>
        </tr>
        {% if ticker_prices %}
            {% for ticker_price in ticker_prices_json %}
            <tr>
                <td>{{ ticker_price }}</td>
                <td>{{ ticker_prices_json.get(ticker_price) }}</td>
                <td>
                    <form method="POST" action="/buy">
                        <input type="hidden" name="crypto_ticker" value="{{ ticker_price }}">
                        <input type="hidden" name="crypto_price_current" value="{{ ticker_prices_json.get(ticker_price) }}">
                        <input type="submit" value="BUY">
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No data available.</td>
            </tr>
        {% endif %}
    </table>

    <!-- OPEN/SELL -->
    <h2>Open positions</h2>
    <table>
        <tr>
            <th>id</th>
            <th>Crypto ticker</th>
            <th>Crypto price at BUY</th>
            <th>Crypto price CURRENT</th>
            <th>Action</th>
        </tr>
        {% if trade_positions_opened %}
            {% for trade_position in trade_positions_opened %}
                <tr>
                    <td>{{ trade_position.id }}</td>
                    <td>{{ trade_position.crypto_ticker }}</td>
                    <td>{{ trade_position.crypto_price_at_buy }}</td>
                    {% if (ticker_prices_json.get(trade_position.crypto_ticker) - trade_position.crypto_price_at_buy) >= 0 %}
                        <td class="green-text" id="price-container">{{ ticker_prices_json.get(trade_position.crypto_ticker) }}</td>
                    {% else %}
                        <td class="red-text" id="price-container">{{ ticker_prices_json.get(trade_position.crypto_ticker) }}</td>
                    {% endif %}
                    <td>                
                        <form method="POST" action="/sell">
                            <input type="hidden" name="id" value="{{ trade_position.id }}">
                            <input type="hidden" name="crypto_price_at_sell" value="{{ ticker_prices_json.get(trade_position.crypto_ticker) }}">
                            <input type="submit" value="SELL">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>No data available.</td>
        </tr>
        {% endif %}
    </table>

    <!-- CLOSED -->
    <h2>Closed positions</h2>
    <table>
        <tr>
            <th>id</th>
            <th>Crypto ticker</th>
            <th>Crypto price at BUY</th>
            <th>Crypto price at SELL</th>
            <th>Profit/Loss</th>
        </tr>
        {% if trade_positions_closed %}
            {% for trade_position in trade_positions_closed %}
                <tr>
                    <td>{{ trade_position.id }}</td>
                    <td>{{ trade_position.crypto_ticker }}</td>
                    <td>{{ trade_position.crypto_price_at_buy }}</td>
                    <td>{{ trade_position.crypto_price_at_sell }}</td>
                    {% if (trade_position.crypto_price_at_sell  - trade_position.crypto_price_at_buy) >= 0 %}
                        <td class="green-text">
                    {% else %}
                        <td class="red-text">
                    {% endif %}
                            {{ (trade_position.crypto_price_at_sell - trade_position.crypto_price_at_buy)|round(2) }}
                        </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>No data available.</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}